<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_quartz:war exploded">
    <output-path>$PROJECT_DIR$/spring_quartz/target/spring_quartz-1.0-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_quartz" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.3.13.RELEASE" />
          <element id="library" level="project" name="Maven: org.quartz-scheduler:quartz:2.2.3" />
          <element id="library" level="project" name="Maven: c3p0:c3p0:0.9.1.1" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.7" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring_quartz/target/spring_quartz-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring_quartz/web/Web" />
    </root>
  </artifact>
</component>